<html>
    <head>
        <title>Greetings user</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <div class="container">
                <template v-if="title">
                    <h1 v-show="title == 'male'">Hello, Mister {{ name }}</h1>
                    <h1 v-show="title == 'female'">Hello, Miss {{ name }}</h1>
                </template>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="title">Enter your gender:</label>
                        <input v-model="title" type="text" class="form-control"/>
                        <span v-if="title && title != 'male' && title != 'female'">Enter a valid gender,human.</span>
                        <label for="name">Enter your name:</label>
                        <input v-model="name" type="text" placeholder="" class="form-control"/>
                    </div>
                </form>
            </div>
            <pre>{{ $data | json }}</pre>
        </div>
    </body>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: '',
                title: '',
            },
        });
    </script>
</html>
