<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
  <p v-if="show">You can see me! <span>Hello!</span></p>
  <p v-else>Now you see me!</p>
  <p v-show="show">Do you also see me?</p>
  <button @click="show = !show">Switch</button>
  <hr/>
  <ul>
    <li v-for="(ingredient, i) in ingredients">{{ingredient}} ({{i}})</li>
  </ul>
  <hr/>
  <ul>
    <li v-for="person in persons">
      <div v-for="(value, key, index) in person">{{key}}: {{value}} ({{index}})</div>
    </li>
  </ul>
  <span v-for="i in 10">{{i}}</span>
  <hr/>
  <template v-for="(ingredient, i) in ingredients">
  <h1>{{ingredient}}</h1>
  <p>{{i}}</p>
  </template>
</div>

<script src="app.js"></script>
